.container-fluid{
    text-align: center;
    background-color:#171515;
    height: 30%;
    padding-left: 5px;
    border-radius: 20px;
    color: white;
   font-family:"Fugaz One";
}
.result{
    display: none;
    background-color: #171515;
}
#btn{
    height: 30px;
    text-align: center;
    border-radius: 5px;
    font-family:Arial, Helvetica, sans-serif;
    background: none; 
    line-height: 15px;
    
}
#btn:hover{
    background-color: #0563bb;
    color: white;
}
#resetbtn{
    height: 30px;
    text-align: center;
    border-radius: 5px;
    font-family:Arial, Helvetica, sans-serif;
    background: none; 
    line-height: 15px;

}
#resetbtn:hover{
    background-color: #c40812;
    color: white;
}
#searchtext{
    border-radius: 5px;
    border-color: white;
    background-color: #171515;
    color:white;
}


.container{
    color:#171515;
    display: inline-block;
    height: 500px;
    width: 500px;
    
}
body{
    background-color: #171515;
}

